.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mobileNav{
    display: none;
}


.headerLogoContainer{
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding:30px;
    align-items: center;
    gap:0.5em;
}


.heroContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:50px;
    gap:0.6em;
}

.handOne{
    width:140px;
    transition: linear,1000ms;
}

.heroTxtContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    width:450px;
    gap:0.5em;
}

.heroMainTxt{
    font-size:50px;
    font-family: "AveriumBlack";
}

.heroDetails{
    font-size:20px;
}

.heroBtnContainer{
    display: flex;
    gap:2em;
    justify-content: center;
    margin:20px;
    align-items: center;
}

.heroEnrolBtn{
    font-weight: bold;
    color:white;
    background-color:rgb(26, 26, 26);
    padding:10px;
    width:100px;
    border-radius:5px;
    transition:linear,100ms;
}

.heroEnrolBtn:active{
    transform:scale(90%)
}

.prismOne{
    position:absolute;
    top:-150px;
    max-width:400px;
    left:0px;
    transition:linear,10000ms;
    animation-name:oval;
    animation-duration:2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

nav{
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index:2;
    left:32%;
    margin-top:560px;
}

.navbarContainerList{
    display: flex;
    gap:1.5em;
    background-color:rgb(26, 26, 26);
    padding:15px;
    width:460px;
    align-items: center;
    justify-content: center;
    border-radius:30px;
}

.navOpt{
    color:white;
}

.navOpt:hover{
    font-weight:bold;
}

.navCall{
    padding:5px;
    background:white;
    width:70px;
    border-radius:6px;
    align-items: center;
    justify-content: center;
    display:flex;
    align-items: center;
}

.callimg{
width:15px;
}


/* header gateway container */
.gatewayTxtContainer{
    display: flex;
    font-size: 30px;
    margin-top:80px;
}

.gatewayTxt{
    font-family:"AveriumBlack" ;
    width:570px;
    text-align: center;
    z-index: 1;
}

.ovalPrism{
    top:800px;
    position: absolute;
    left:760px;
    width:200px;
    transition:linear,10000ms;
    animation-name:oval;
    animation-duration:2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
   


@keyframes oval {
    from{
        transform: translateY(0px)
    }
    to{
        transform: translateY(30px);
    }
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(0px);
    }
}


.gatewayOne{
    color:rgb(247,251,54,100%);
}

.gatewayTwo{
    color:white;
}

.gatewayOne,.gatewayTwo{
font-family:"AveriumBlack"
}

@media screen and (max-width:1000px){

    .mobileNav{
        display: flex;
        padding:15px;
        background-color: rgb(31, 30, 30);
        border-radius:100%;
        align-items: center;
        position: fixed;
        top:570px;
        z-index:4;
        transition:linear,100ms;
        margin-left:40%;
        justify-content: center;
    }

    .mobileNav:active{
        transform:scale(70%);
    }

    .mobileNavImg{
        filter: invert(100%);
        width:25px;
    }
    .prismOne,.blackOne,.navbarContainerList{
        display: none;
    }

    .heroMainTxt{
        font-size:40px;
    }

    .heroDetails{
        font-size:16px;
    }

    .heroBtnContainer{
        flex-direction:column;
        gap:1.5em;
    }

    .heroEnrolBtn{
        width:300px;
        padding:12px;
    }

    .handOne{
        width:120px;
    }

    /*  header gateway */
    .gatewayTxtContainer{
        font-size:20px;   
    }

    .gatewayTxt{
        width:388px;
    }

    .ovalPrism{
        left:350px;
        width:100px;
        top:820px;
    }

}

   